<br>
<div class="panel panel-default">
    <div class="panel-heading">
        Calcular Puntaje
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Categoria Persona
        </div>
        <div class="panel-body">
            <div ui-grid="calcularPuntaje.gridOptionsCategoria" ui-grid-auto-resize class="ui_grid"></div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            Experiencia Laboral
        </div>
        <div class="panel-body">
            <div ui-grid="calcularPuntaje.gridOptionsExperienciaLaboral" ui-grid-auto-resize class="ui_grid"></div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            Formación Académica
        </div>
        <div class="panel-body">
            <div ui-grid="calcularPuntaje.gridOptionsFormacionAcademica" ui-grid-auto-resize class="ui_grid"></div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Datos del Subtipo de la Producción Académica
        </div>
        <div class="panel-body">
            <div ui-grid="calcularPuntaje.gridOptionsDatoSubtipo" ui-grid-grouping class="ui_grid"></div>
        </div>
    </div>

</div>
