<div class="panel panel-default">
    <div class="panel-heading">
        Producción Academica
    </div>
    <div class="panel-body">
        <div ui-grid="consultarProduccionAcademica.gridOptions" ui-grid-auto-resize ui-grid-selection class="ui_grid"></div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Datos del Subtipo
        </div>
        <div class="panel-body">
            <div id="grid2" ui-grid="consultarProduccionAcademica.gridOptionsDatoSubtipo" ui-grid-grouping></div>
        </div>
    </div>
    <br>
</div>