<div class="panel panel-default">
    <div class="panel-heading">
        Experiencia Docente
    </div>
    <div class="panel-body">
        <div ui-grid="consultarExperienciaDocente.gridOptions" ui-grid-auto-resize ui-grid-selection class="ui_grid"></div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Cursos
        </div>
        <div class="panel-body">
            <div id="grid2" ui-grid="consultarExperienciaDocente.gridOptionsCursos" ui-grid-grouping></div>
        </div>
    </div>
    <br>
</div>