<div class="col-md-4" ng-show="crearFormacionAcademica.vista_previa">
    <div class="panel panel-default">
        <div class="panel-heading">
            Crear Formación Académica
        </div>
        <div class="panel-body">
            <form name="formacion_form" ng-submit="formacion_form.$valid && crearFormacionAcademica.guardar()">
                <div class="thumbnail">
                    <br>
                    <img src="images/person-flat.png" alt="..." width="150px">
                    <div class="caption">
                        <md-content class="md-padding" layout-wrap>

                            <label>Institución o Entidad</label>
                            <select ng-model="crearFormacionAcademica.formacion_academica.InstitucionId.Id" class="form-control" required>
                                <option ng-repeat="iInstitucion in crearFormacionAcademica.institucion" ng-value="iInstitucion.Id">{{iInstitucion.NombreInstitucion}} </option>
                            <select>



                            <label>Programa</label>
                            <select ng-model="crearFormacionAcademica.formacion_academica.ProgramaId.Id" class="form-control" ng-click="crearFormacionAcademica.obtenerprogramas(crearFormacionAcademica.formacion_academica.InstitucionId.Id)" required>
                                <option ng-repeat="iPrograma in crearFormacionAcademica.programa | filter: {'InstitucionId':{'Id':crearFormacionAcademica.formacion_academica.InstitucionId.Id}}"
                                    ng-value="iPrograma.Id">{{iPrograma.NombrePrograma}} </option>
                            </select>



                            <label>Título</label>
                            <select ng-model="crearFormacionAcademica.formacion_academica.Titulo.Id" class="form-control" ng-click="crearFormacionAcademica.obtenertitulos(crearFormacionAcademica.formacion_academica.ProgramaId.Id)" required>
                                <option ng-repeat="iTitulo in crearFormacionAcademica.titulo | filter: {'Programa':{'Id':crearFormacionAcademica.formacion_academica.ProgramaId.Id}}"
                                    ng-value="iTitulo.Id">{{iTitulo.Nombre}} </option>
                            <select>




                            <label>Fecha de inicio</label>

                            <input ng-model="crearFormacionAcademica.formacion_academica.FechaInicio" type="date" class="form-control" ng-required="true">





                            <label>Fecha de Finalización</label>

                            <input ng-model="crearFormacionAcademica.formacion_academica.FechaFinalizacion" type="date" class="form-control" ng-required="true">





                            <label>Nombre Proyecto</label>

                            <input ng-model="crearFormacionAcademica.formacion_academica.NombreProyecto" type="text" class="form-control" ng-required="true">

                             <label>Área Conocimiento</label>

                            <input ng-model="crearFormacionAcademica.formacion_academica.AreaConocimiento" type="text" class="form-control" ng-required="true" maxlength="40">

                    </md-content>


                </div>
            </div>
            <div class="row" align="center" ng-show="crearFormacionAcademica.vista_previa">
                <input type="submit" class="btn btn-outline btn-success btn-md" value="Nuevo">
                <button class="btn btn-outline btn-primary btn-md" ng-click="crearFormacionAcademica.limpiar_seleccion()">Cancelar </button>
            </div>
            </form>
        </div>
    </div>
</div>

<div ng-class="{'col-md-8': crearFormacionAcademica.vista_previa , 'col-md-8 col-md-offset-2': !crearFormacionAcademica.vista_previa}">
    <div class="panel panel-default">
        <div class="panel-heading">
            Formación Académica
        </div>
        <div class="panel-body">
            <div ui-grid="crearFormacionAcademica.gridOptions" ui-grid-auto-resize ui-grid-selection class="ui_grid"></div>
        </div>
    </div>

    <div class="row" align="center" ng-show="!crearFormacionAcademica.vista_previa">
        <button class="btn btn-outline btn-primary btn-md" ng-click="crearFormacionAcademica.limpiar_seleccion()">Agregar Formación Académica </button>
    </div>
    <br>
</div>
