<div class="col-md-4" ng-show="crearIdiomas.vista_previa">
    <div class="panel panel-default">
        <div class="panel-heading">
            Crear Idiomas
        </div>
        <div class="panel-body">
            <form ng-submit="crearIdiomas.guardar()">
                <div class="thumbnail">
                    <br>
                    <img src="images/person-flat.png" alt="..." width="150px">
                    <div class="caption">
                        <md-content class="md-padding" layout-wrap>

         
                            <label>Idioma</label>
                            <select ng-model="crearIdioma.idioma.IdiomaId.Id" class="form-control">
                                <option ng-repeat="iIdiomaa in crearIdioma.idioma | filter: {'InstitucionId':{'Id':crearIdioma.idioma.InstitucionId.Id}}"
                                    ng-value="iIdioma.Id">{{iIdioma.NivelIdioma}} </option>
                            </select>



                            <label>Nivel</label>
                            <select ng-model="crearIdioma.idioma.Nivel.Id" class="form-control">
                                <option ng-repeat="iNivel in crearIdioma.nivel | filter: {'Idioma':{'Id':crearIdioma.idioma.IdiomaId.Id}}"
                                    ng-value="iNivel.Id">{{iNivel.Nivel}} </option>
                            <select>
        


                    </md-content>

   
                </div>
            </div>
            <div class="row" align="center" ng-show="crearIdioma.vista_previa">
                <input type="submit" class="btn btn-outline btn-success btn-md" value="Nuevo">
                <button class="btn btn-outline btn-primary btn-md" ng-click="crearIdioma.limpiar_seleccion()">Cancelar </button>
            </div>
            </form>
        </div>
    </div>
</div>

<div ng-class="{'col-md-8': crearIdioma.vista_previa , 'col-md-8 col-md-offset-2': !creaIdioma.vista_previa}">
    <div class="panel panel-default">
        <div class="panel-heading">
            Idioma            
        </div>
        <div class="panel-body">
            <div ui-grid="crearIdioma.gridOptions" ui-grid-auto-resize ui-grid-selection class="ui_grid"></div>
        </div>
    </div>

    <div class="row" align="center" ng-show="!crearIdioma.vista_previa">
        <button class="btn btn-outline btn-primary btn-md" ng-click="crearIdioma.limpiar_seleccion()">Agregar Formación Académica </button>
    </div>
    <br>
</div>