<div class="col-md-4" ng-show="editarExperienciaDocente.vista_previa">
    <div class="panel panel-default">
        <div class="panel-heading">
            Vista Previa Experiencia Docente
        </div>
        <div class="panel-body">
            <div class="thumbnail">
                <br>
                <img src="images/person-flat.png" alt="..." width="150px">
                <div class="caption">

                    <div class="alert alert-warning" ng-show="editarExperienciaDocente.experiencia_actual.Validacion">
                        <strong>Alerta</strong> El registro ya ha sido validado y no puede ser modificado.
                    </div>

                    <md-content class="md-padding" layout-wrap>

                     
                        <label>Institución o Entidad</label>
                            <select ng-model= "crearExperienciaDocente.experiencia_Docente.InstitucionId.Id" class="form-control">
                                <option ng-repeat="iInstitucion in crearExperienciaDocente.institucion" ng-value="iInstitucion.Id">{{iInstitucion.NombreInstitucion}} </option>
                            </select>


                        <label>Fecha Inicial</label>
                        <input type="date" ng-model="FechaInicio" ng-required="true"  class="form-control">

                        <label>Fecha Final</label>
                        <input type="date" ng-model="FechaFinalizacion" ng-required="true"  class="form-control">



                        <label>Tipo Actividad</label>
                        <input type="text" ng-model="TipoActividad"  class="form-control" ng-required="true">

                        <label>Campo de Enseñanza</label>
                        <input type="text" ng-model="CampoEnsenanza"  class="form-control" ng-required="true">

                       
                        <label>Tipo Dedicacion</label>
                        <select ng-model="crearExperienciaDocente.experiencia_Docente.TipoDedicacionId.Id"  class="form-control">
                          <option ng-repeat="iTipoDedicacion in crearExperienciaDocente.tipo_dedicacion" ng-value="iTipoDedicacion.Id">{{iTipoDedicacion.NombreTipoDedicacion}} </option>
                        </select>

                    </md-content>

                </div>
            </div>
      <div class="row" align="center" ng-show="editarExperienciaDocente.vista_previa">
        <button class="btn btn-outline btn-success btn-md" ng-show="!editarExperienciaDocente.experiencia_actual.Validacion" ng-click="editarExperienciaDocente.guardar()">{{ 'GUARDAR' | translate }} </button>
        <button class="btn btn-outline btn-primary btn-md" ng-click="editarExperienciaDocente.limpiar_seleccion()">{{ 'CANCELAR' | translate }} </button>
      </div>
        </div>
    </div>
</div>

<div ng-class="{'col-md-8': editarExperienciaDocente.vista_previa , 'col-md-8 col-md-offset-2': !editarExperienciaDocente.vista_previa}">
    <div class="panel panel-default">
        <div class="panel-heading">
            Experiencia Docente
        </div>
        <div class="panel-body">
            <div ui-grid="editarExperienciaDocente.gridOptions" ui-grid-auto-resize ui-grid-selection class="ui_grid"></div>
        </div>
    </div>

    <br>
</div>
