<div class="col-md-4" ng-show="editarInvestigacion.vista_previa">
    <div class="panel panel-default">
        <div class="panel-heading">
            Vista Previa Investigacion
        </div>
        <div class="panel-body">
            <div class="thumbnail">
                <br>
                <img src="images/person-flat.png" alt="..." width="150px">
                <div class="caption">


                    <div class="alert alert-warning"  ng-show="editarInvestigacion.investigacion_actual.Validacion">
                        <strong>Alerta</strong> El registro ya ha sido validado y no puede ser modificado.
                    </div>

                    <md-content class="md-padding" layout-wrap>

                         <label>Institución o Entidad</label>
                            <select ng-model="editarInvestigacion.investigacion_actual.InstitucionId.Id" class="form-control">
                                <option ng-repeat="iInstitucion in editarInvestigacion.institucion" ng-value="iInstitucion.Id">{{iInstitucion.NombreInstitucion}} </option>
                            <select>

                            <label>Tipo Investigacion</label>
                            <select ng-model="editarInvestigacion.investigacion_actual.TipoInvestigacionId.Id" class="form-control">
                                <option ng-repeat="iTipoInvestigacion in editarInvestigacion.tipo_investigacion" ng-value="iTipoInvestigacion.Id">{{iTipoInvestigacion.NombreTipoInvestigacion}} </option>
                            <select>

                            <label>Nombre Investigacion</label>

                            <input ng-model="editarInvestigacion.investigacion_actual.NombreInvestigacion" type="text" class="form-control" ng-required="true">


                    </md-content>

        </div>
      </div>
      <div class="row" align="center" ng-show="editarInvestigacion.vista_previa">
        <button class="btn btn-outline btn-success btn-md" ng-show="!editarInvestigacion.investigacion_actual.Validacion" ng-click="editarInvestigacion.guardar()">{{ 'GUARDAR' | translate }} </button>
        <button class="btn btn-outline btn-primary btn-md" ng-click="editarInvestigacion.limpiar_seleccion()">{{ 'CANCELAR' | translate }} </button>
      </div>
    </div>
  </div>
</div>
<div ng-class="{'col-md-8': editarInvestigacion.vista_previa , 'col-md-8 col-md-offset-2': !editarInvestigacion.vista_previa}">
  <div class="panel panel-default">
    <div class="panel-heading">
     Investigacion
    </div>
    <div class="panel-body">
      <div ui-grid="editarInvestigacion.gridOptions" ui-grid-auto-resize ui-grid-selection class="ui_grid"></div>
    </div>
  </div>

  <br>
</div>
