<div class="col-md-4" ng-show="editarProduccionAcademica.vista_previa">
    <div class="panel panel-default">
        <div class="panel-heading">
            Editar Producción Académica
        </div>
        <div class="panel-body">
            <div class="thumbnail">
                <br>
                <img src="images/person-flat.png" alt="..." width="150px">
                <div class="caption">

                    <div class="alert alert-warning" ng-show="editarProduccionAcademica.produccion_actual.Validacion">
                        <strong>Alerta</strong> El registro ya ha sido validado y no puede ser modificado.
                    </div>
                    <md-content class="md-padding" layout-wrap>

                        <label>Título de Producción</label>
                        <input type="text" ng-model="editarProduccionAcademica.produccion_actual.TituloProduccion" class="form-control" maxlength="24">





                        <label>Pais</label>
                        <input type="text" ng-model="editarProduccionAcademica.produccion_actual.Pais" class="form-control" maxlength="24">



                        <label>Ciudad</label>
                        <input type="text" ng-model="editarProduccionAcademica.produccion_actual.Ciudad" class="form-control" maxlength="24">




                        <label>Número de Autores</label>
                        <input type="number" min="1" ng-model="editarProduccionAcademica.produccion_actual.NumeroAutores" class="form-control">


                </div>


            </div>
        </div>
        <div class="row" align="center" ng-show="editarProduccionAcademica.vista_previa">
            <button class="btn btn-outline btn-success btn-md" ng-show="!editarProduccionAcademica.produccion_actual.Validacion" ng-click="editarProduccionAcademica.guardar()">{{ 'GUARDAR' | translate }} </button>
            <button class="btn btn-outline btn-primary btn-md" ng-click="editarProduccionAcademica.limpiar_seleccion()">{{ 'CANCELAR' | translate }} </button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Añadir Evaluador
        </div>
        <div class="panel-body">
            <div class="thumbnail">
                <br>
                <img src="images/person-flat.png" alt="..." width="150px">
                <div class="caption">

                    <md-content class="md-padding" layout-wrap>

                        <label>Evaluador</label>
                        <input type="number" ng-model="editarProduccionAcademica.evaluador.PersonaId" class="form-control" maxlength="24">

                </div>


            </div>
        </div>
        <div class="row" align="center" ng-show="editarProduccionAcademica.vista_previa">
            <button class="btn btn-outline btn-success btn-md" ng-show="!editarProduccionAcademica.produccion_actual.Validacion" ng-click="editarProduccionAcademica.guardarEvaluador()">{{ 'GUARDAR' | translate }} </button>
            <button class="btn btn-outline btn-primary btn-md" ng-click="editarProduccionAcademica.limpiar_seleccion()">{{ 'CANCELAR' | translate }} </button>
        </div>
    </div>
</div>
</div>

<div ng-class="{'col-md-8': editarProduccionAcademica.vista_previa , 'col-md-8 col-md-offset-2': !editarProduccionAcademica.vista_previa}">
    <div class="panel panel-default">
        <div class="panel-heading">
            Producción Académica
        </div>
        <div class="panel-body">
            <div ui-grid="editarProduccionAcademica.gridOptions" ui-grid-auto-resize ui-grid-selection class="ui_grid"></div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Datos del Subtipo
        </div>
        <div class="panel-body">
            <div id="grid2" ui-grid="editarProduccionAcademica.gridOptionsDatoSubtipo" ui-grid-grouping></div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Evaluadores
        </div>
        <div class="panel-body">
            <div id="grid3" ui-grid="editarProduccionAcademica.gridOptionsEvaluador" ui-grid-grouping></div>
        </div>
    </div>
    <br>
</div>
